* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: transparent;
    list-style: none;
}
a {
    text-decoration: none;
   
}
html{
    scroll-behavior: smooth;
     font-size: 10px;
}
body {
    color: black;
    margin: 0%;
}